target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.settings/

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath
£
